.paper {
  --paper-shadow: var(--mantine-shadow-sm);

  border-color: var(--mantine-color-gray-4);
  border-radius: 4px;
  padding: var(--mantine-spacing-md);
}

.paper:hover {
  border-color: var(--mantine-color-primary-3);
}

.paper[data-checked="true"] {
  background-color: var(--mantine-color-lime-0);
  border-color: var(--mantine-color-lime-5);
}

.checkboxWrapper {
  pointer-events: none;
}

[data-mantine-color-scheme="light"] .checkbox {
  --_checkbox-bg: var(--mantine-color-gray-2);
}

.sectionWrapper {
  --group-gap: 0;

  cursor: pointer;
  width: 100%;
  overflow: auto;
}

.middleSection {
  --stack-gap: 0.16em;
  --text-fz: var(--mantine-font-size-md);
  --text-color: var(--mantine-color-gray-9);

  flex-grow: 1;
  user-select: none;
  min-width: 0;

  padding-right: var(--mantine-spacing-xs);
  padding-left: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-xs) {
    --text-fz: var(--mantine-font-size-sm);
  }
}

.middleSection p {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-checked="true"] .middleSection {
  --text-color: var(--mantine-color-lime-9);
  text-decoration: line-through;
  text-decoration-color: var(--text-color);
}

[data-checked="true"] {
  --divider-color: var(--mantine-color-lime-4);
}

.leftSection {
  --stack-align: stretch;
  --stack-justify: center;

  cursor: pointer;
  min-height: 100%;
  padding-right: var(--mantine-spacing-xs);
}

.rightSection {
  --stack-gap: var(--mantine-spacing-xs);
  --stack-align: start;

  margin-bottom: auto;
  padding-left: var(--mantine-spacing-xs);
}
