.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;
}

.control {
  height: rem(40px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-sm);

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.input {
  height: rem(40px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
